USE [master]
GO
/****** Object:  Database [Disqueria]    Script Date: 21/11/2021 18:27:56 ******/
CREATE DATABASE [Disqueria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Disqueria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Disqueria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Disqueria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Disqueria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Disqueria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Disqueria]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 21/11/2021 18:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_DISCO] [varchar](50) NULL,
	[TIPO_DISCO] [varchar](50) NULL,
	[GENERO_DISCO] [varchar](50) NULL,
	[NOMBRE_ARTISTA] [varchar](50) NULL,
	[AÑO_DISCO] [int] NULL,
	[PRECIO_DISCO] [float] NULL,
	[NOMBRE_CLIENTE] [varchar](50) NULL,
	[SEXO_CLIENTE] [varchar](50) NULL,
	[EDAD_CLIENTE] [int] NULL,
	[TIPO_ARTISTA] [varchar](50) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([id], [NOMBRE_DISCO], [TIPO_DISCO], [GENERO_DISCO], [NOMBRE_ARTISTA], [AÑO_DISCO], [PRECIO_DISCO], [NOMBRE_CLIENTE], [SEXO_CLIENTE], [EDAD_CLIENTE], [TIPO_ARTISTA]) VALUES (2, N'Clics Modernos', N'Vinilo', N'Rock', N'Charly Garcia', 1983, 700, N'Francisco', N'Hombre', 20, N'Solista')
INSERT [dbo].[Ventas] ([id], [NOMBRE_DISCO], [TIPO_DISCO], [GENERO_DISCO], [NOMBRE_ARTISTA], [AÑO_DISCO], [PRECIO_DISCO], [NOMBRE_CLIENTE], [SEXO_CLIENTE], [EDAD_CLIENTE], [TIPO_ARTISTA]) VALUES (3, N'The Ooz', N'CD', N'Rock', N'King Krule', 2017, 600, N'Lucia', N'Mujer', 17, N'Solista')
INSERT [dbo].[Ventas] ([id], [NOMBRE_DISCO], [TIPO_DISCO], [GENERO_DISCO], [NOMBRE_ARTISTA], [AÑO_DISCO], [PRECIO_DISCO], [NOMBRE_CLIENTE], [SEXO_CLIENTE], [EDAD_CLIENTE], [TIPO_ARTISTA]) VALUES (4, N'Clics Modernos', N'Vinilo', N'Rock', N'Charly Garcia', 1983, 700, N'Luz', N'NoBinario', 35, N'Solista')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
USE [master]
GO
